{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Hi {{output | safe}}, you are currently logged in  </h1>
    <br>
    <br>
    <h3 align="center">Your userid from the DB is {{output_uid | safe}}</h3>
    <h3 align="center">Date created on</h3>
    <br>
    <br>
    <form action="/admin_page_access" method="post">
      <div class="text-center">
      <button class="btn btn-primary" name="forwardBtn" type="submit">Check admin access</button>
    </form>

    <!-- <form method="POST" enctype="multipart/form-data">
      <div>
      <br>
      <div class="text-center">
          <button class="btn btn-primary" type="button">Check admin access</button>
      </div>
      </div>
      <br>
      <br>
      <div align="center">
          <label> {{output | safe}} </label>
      </div>
      <br>
      <br>
  </form> -->
    {% endblock %}
    